<!-- app/views/breeds/index.html.erb -->
<div class="container mt-5">
  <%= render partial: 'layouts/navigation' %>
  <h1>Breeds List</h1>
  <div class="row">
    <% @breeds.each do |breed| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <% if breed.image.present? %>
            <%= image_tag breed.image, alt: breed.breed_name, class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= breed.breed_name %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= paginate @breeds%>
</div>
