<nav>
    <ul>
    <li><%= link_to "Home", root_path %></a></li>
    <li><%= link_to "About", about_path %></a></li>
    <li><%= link_to "Check Breeds", breeds_path %></a></li>
    <li><%= link_to "Check Owners", owners_path %></a></li>
  </ul>
</nav>